{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}

{% block menu_links %}
    <li><a href="{% url 'accounts:detail' user_obj.pk %}">Назад</a></li>
    <li><a href="{% url 'accounts:change' user_obj.pk %}">Редактирование личных данных</a></li>
{% endblock %}

{% block content %}
    <h1>Смена пароля</h1>
    <form action="{% url 'accounts:password_change' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    {% url "accounts:password_change" user_obj.pk as action_url %}
    {% include 'partial/form.html' with action_url=action_url form_method="post" button_text="Поменять" %}
    </form>
{% endblock %}