<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Задача {{ issue.id }}</h1>
    <p>Задача: {{ issue.summary }}</p>
    <p>Описание: {{ issue.description }}</p>
    <p>Статус: {{ issue.status }}</p>
    <p>Тип: {{ issue.issue_type }}</p>
    <p>Время создания: {{ issue.created_at }}</p>
    <p>Время обновления: {{ issue.updated_at }}</p>
</body>
</html> 