body {
    margin-top: 60px;
    font-family: monospace;
    font-size: 18px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
}

.container a {
    margin-right: 30px;
    color: rgb(9, 9, 114);
    font-weight: bold;
}


