{% extends "projects/base.html" %}
{% block title %}Все проекты{% endblock title %}
<body>
        
    <div>
        {% block content %}
        {% include "partial\search_form.html" %}
        {% for project in projects %} 
                <p>Название: <b>{{ project.name }}</b>.<a href="{% url 'project-view' project.id %}">Посмотреть проект</a></p> 
                

        {% endfor %}
        {% include "partial/paginate.html" %}
        {% endblock content %}
    </div>
    
</body>
</html>